<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Bienvenido to {{ title }}! 
     </h1>
</div>

<div class = "container">
  <div class = "row">
    <div class = col-md-4>
<table class="table table-striped" style = "width:5cm">  
  <thead>
  <tr>
    <th scope = "col">#</th>
    <th scope="col">Instruccion</th>
    <th scope="col">DST</th>
    <th scope="col">OP1</th>
    <th scope="col">OP2</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let inst of instrucciones">
          <td>{{ inst.id }}</td>
          <td> {{ inst.tipo }}</td>
          <td> {{ inst.destino}}</td>
          <td> {{ inst.op1 }}</td>
          <td> {{inst.op2}}</td>
          <td> <button type="button" class="close" aria-label="Close" (click) = eliminarInstruccion(inst)> <span aria-hidden="true">&times;</span> </button></td>
        </tr>
  </tbody>
</table>
</div>

<div>
  <h4>Agregar una instruccion</h4>
<div class="btn-group mr-3 ">
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-danger" ngbDropdownToggle>{{btnDefaultIns.type}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let inst of tipoInstrucciones" (click)="cambiar('type',inst.type)" >{{inst.type}}</button>
        </div>
      </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-outline-danger" ngbDropdownToggle>{{btnDefaultIns.dst}}</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button class="dropdown-item" *ngFor="let reg of nombreRegistro" (click)="cambiar('dst',reg)" >{{reg}}</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-outline-danger" ngbDropdownToggle>{{btnDefaultIns.op1}}</button>
    <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item" *ngFor="let reg of nombreRegistro" (click)="cambiar('op1',reg)" >{{reg}}</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button id="btn-op2"class="btn btn-outline-danger" ngbDropdownToggle> {{btnDefaultIns.op2}}</button>
      <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" *ngFor="let reg of nombreRegistro" (click)="cambiar('op2',reg)" >{{reg}}</button>
        </div>
  </div>
  <button id="btn-agregar" type="button" class="btn btn-outline-danger" disabled (click) = "agregarInstruccion()"  >Agregar</button>
</div>

<div>
  <h4>Dispatcher</h4>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-danger">Orden N°: </button>
      <button class="btn btn-outline-danger" ngbDropdownToggle> {{numOrden}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5]" (click)="cambiarOrden(num)" >{{num}}</button>
        </div>
    </div>
</div>

<div>
  <h4>Estacion de reserva</h4>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-danger">Cantidad: </button>
      <button class="btn btn-outline-danger" ngbDropdownToggle> {{numEstacionReserva}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5]" (click)="cambiarER(num)" >{{num}}</button>
        </div>
    </div>
  </div>

<div>
  <h4>Ciclos de cada instruccion</h4>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-danger">ADD: </button>
      <button class="btn btn-outline-danger" ngbDropdownToggle> {{tipoInstrucciones[0].ciclo}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" (click)="cambiarCiclo('ADD',num)" >{{num}}</button>
        </div>
    </div>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-danger">SUB: </button>
        <button class="btn btn-outline-danger" ngbDropdownToggle> {{tipoInstrucciones[1].ciclo}}</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" (click)="cambiarCiclo('SUB',num)" >{{num}}</button>
          </div>
      </div>
      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-danger">MUL: </button>
          <button class="btn btn-outline-danger" ngbDropdownToggle> {{tipoInstrucciones[2].ciclo}}</button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" (click)="cambiarCiclo('MUL',num)" >{{num}}</button>
            </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-outline-danger">DIV: </button>
            <button class="btn btn-outline-danger" ngbDropdownToggle> {{tipoInstrucciones[3].ciclo}}</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" (click)="cambiarCiclo('DIV',num)" >{{num}}</button>
              </div>
          </div>
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn btn-outline-danger">ST: </button>
              <button class="btn btn-outline-danger" ngbDropdownToggle> {{tipoInstrucciones[4].ciclo}}</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" (click)="cambiarCiclo('ST',num)" >{{num}}</button>
                </div>
            </div>
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-outline-danger">LD: </button>
                <button class="btn btn-outline-danger" ngbDropdownToggle> {{tipoInstrucciones[5].ciclo}}</button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" (click)="cambiarCiclo('LD',num)" >{{num}}</button>
                  </div>
              </div>

<!-- UNIDAD FUNCIONAL VER--> 
<div>
  <h4>Unidades funcionales</h4>

    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-danger">Multifuncion: </button>
        <button class="btn btn-outline-danger" ngbDropdownToggle>{{numMultifuncion}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let num of [0,1,2,3,4,5]" (click)="cambiarUFmultifuncion(num)" >{{num}}</button>
        </div>
      </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-danger">Aritmetica: </button>
    <button class="btn btn-outline-danger" ngbDropdownToggle>{{numAritmetica}}</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button class="dropdown-item" *ngFor="let num of [0,1,2,3,4,5]" (click)="cambiarUFAritmetica(num)" >{{num}}</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-outline-danger">Memoria: </button>
    <button class="btn btn-outline-danger" ngbDropdownToggle>{{numMemoria}}</button>
    <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item" *ngFor="let num of [0,1,2,3,4,5]" (click)="cambiarUFMemoria(num)" >{{num}}</button>
    </div>
  </div>
  </div>

  <h4>Guardar Configuracion</h4> 
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-outline-danger" >Guardar</button>
    <button type="button" class="btn btn-outline-danger" disabled >Reset </button>
    <button type="button" class="btn btn-outline-danger" disabled>Ejecutar</button>

  </div>  


</div>
</div>
<router-outlet></router-outlet>
