<!--The content below is only a placeholder and can be replaced.-->
<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! 
     </h1>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Instruccion
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">ADD</a>
    <a class="dropdown-item" href="#">SUB</a>
    <a class="dropdown-item" href="#">MUL</a>
    <a class="dropdown-item" href="#">DIV</a>
  </div>
</div>


<table class="table table-striped" style = "width:5cm">
  
  <thead>
  <tr>
    <th scope = "col">#</th>
    <th scope="col">Instruccion</th>
    <th scope="col">DST</th>
    <th scope="col">OP1</th>
    <th scope="col">OP2</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<router-outlet></router-outlet>
