
<div style="text-align:center">
  <h1>
    Bienvenido al {{ title }}! 
     </h1>
</div>
<!--TABLA DE INSTRUCCIONES-->

<div class = "container">
  <div class = "row justify-content-around">
    <div class = col-md-4>
<table class="table table-bordered" style="width:5cm">  
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Instruccion</th>
    <th scope="col">DST</th>
    <th scope="col">OP1</th>
    <th scope="col">OP2</th>
    <th scope="col"> </th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let inst of listInstructions">
          <td>{{ inst.getId() }}</td>
          <td> {{ inst.getType() }}</td>
          <td> {{ inst.getDestination()}}</td>
          <td> {{ inst.getOp1() }}</td>
          <td> {{inst.getOp2()}}</td>
          <td> <button type="button" class="close" aria-label="Close" (click) = deleteInstruction(inst)> <span aria-hidden="true">&times;</span> </button></td>
        </tr>
  </tbody>
</table>
</div>

<div>
  <h4>Agregar una instruccion</h4>
<div class="btn-group mr-3 " >
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button [disabled]="configurationSaved" id="btn-type" class="btn btn-outline-danger" ngbDropdownToggle>{{btnDefaultIns.type}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let inst of typeInstruction" (click)="change('type',inst.type)" >{{inst.type}}</button>
        </div>
      </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button [disabled]="configurationSaved" id="btn-dst" class="btn btn-outline-danger" ngbDropdownToggle>{{btnDefaultIns.dst}}</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button class="dropdown-item" *ngFor="let reg of registers" (click)="change('dst',reg)" >{{reg}}</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button [disabled]="configurationSaved" id="btn-op1" class="btn btn-outline-danger" ngbDropdownToggle>{{btnDefaultIns.op1}}</button>
    <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item" *ngFor="let reg of registers" (click)="change('op1',reg)" >{{reg}}</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button [disabled]="configurationSaved" id="btn-op2" class="btn btn-outline-danger" ngbDropdownToggle> {{btnDefaultIns.op2}}</button>
      <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" *ngFor="let reg of registers" (click)="change('op2',reg)" >{{reg}}</button>
        </div>
  </div> 
  <button id="btn-Agregar" type="button" class="btn btn-outline-danger" disabled (click)="addInstruction()"  >Agregar</button>
</div>

<div>
  <h4>Dispatcher</h4>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-danger">Orden N°: </button>
      <button [disabled]="configurationSaved" class="btn btn-outline-danger" id="btn-GradoDispatch" ngbDropdownToggle> {{numOrder}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5]" (click)="changeOrder(num)" >{{num}}</button>
        </div>
    </div>
</div>

<div>
  <h4>Estacion de reserva</h4>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-danger">Cantidad: </button>
      <button [disabled]="configurationSaved" class="btn btn-outline-danger" id="btn-CantidadER" ngbDropdownToggle> {{numReserveStation}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5]" (click)="changeER(num)" >{{num}}</button>
        </div>
    </div>
  </div>
<div>

  <!--BOTONES CICLO DE INSTRUCCIONES-->
  <h4>Ciclos de cada instruccion</h4>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-danger">ADD: </button>
      <button [disabled]="configurationSaved" class="btn btn-outline-danger" id="btn-Inst-ADD" ngbDropdownToggle> {{typeInstruction[0].cycle}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" (click)="changeCycle('ADD',num)" >{{num}}</button>
        </div>
    </div>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-danger">SUB: </button>
        <button [disabled]="configurationSaved" class="btn btn-outline-danger" id="btn-Inst-SUB" ngbDropdownToggle> {{typeInstruction[1].cycle}}</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" (click)="changeCycle('SUB',num)" >{{num}}</button>
          </div>
      </div>
      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-danger">MUL: </button>
          <button [disabled]="configurationSaved" class="btn btn-outline-danger" id="btn-Inst-MUL" ngbDropdownToggle> {{typeInstruction[2].cycle}}</button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" (click)="changeCycle('MUL',num)" >{{num}}</button>
            </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-outline-danger">DIV: </button>
            <button [disabled]="configurationSaved" class="btn btn-outline-danger" id="btn-Inst-DIV" ngbDropdownToggle> {{typeInstruction[3].cycle}}</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" (click)="changeCycle('DIV',num)" >{{num}}</button>
              </div>
          </div>
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn btn-outline-danger">ST: </button>
              <button [disabled]="configurationSaved" class="btn btn-outline-danger" id="btn-Inst-ST" ngbDropdownToggle> {{typeInstruction[4].cycle}}</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" (click)="changeCycle('ST',num)" >{{num}}</button>
                </div>
            </div>
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-outline-danger">LD: </button>
                <button [disabled]="configurationSaved" class="btn btn-outline-danger" id="btn-Inst-LD" ngbDropdownToggle> {{typeInstruction[5].cycle}}</button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" (click)="changeCycle('LD',num)" >{{num}}</button>
                  </div>
              </div>

<!--BOTONES UNIDADES FUNCIONALES-->
<div>
  <h4>Unidades funcionales</h4>

    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-danger">Multifuncion: </button>
        <button [disabled]="configurationSaved" id="btn-numMultifunction" class="btn btn-outline-danger" ngbDropdownToggle>{{numMultifunction}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let num of [0,1,2,3,4,5]" (click)="changeUFmultifunction(num)" >{{num}}</button>
        </div>
      </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-danger">Aritmetica: </button>
    <button [disabled]="configurationSaved" id="btn-numArithmetic" class="btn btn-outline-danger" ngbDropdownToggle>{{numArithmetic}}</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button class="dropdown-item" *ngFor="let num of [0,1,2,3,4,5]" (click)="changeUFArithmetic(num)" >{{num}}</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-outline-danger">Memoria: </button>
    <button [disabled]="configurationSaved" id="btn-numMemory"class="btn btn-outline-danger" ngbDropdownToggle>{{numMemory}}</button>
    <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item" *ngFor="let num of [0,1,2,3,4,5]" (click)="changeUFMemory(num)" >{{num}}</button>
    </div>
  </div>
  </div>

  <h4>Configuración</h4> 
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button id="btn-save" type="button" class="btn btn-outline-danger" [disabled]="configurationSaved" (click)="saveConfiguration()" >Guardar</button>
    <button id="btn-reset" type="button" class="btn btn-outline-danger" [disabled]="!configurationSaved"  (click)="resetConfiguration()">Editar </button>
    <button id="btn-execute" type="button" class="btn btn-outline-danger" [disabled]="!configurationSaved" (click)="executeRob()">Ejecutar</button>
  </div>  
</div>
</div>


<p>
  <ngb-alert  [dismissible]="false" *ngIf = "showAlert">
    <strong>Advertencia!</strong> Debes agregar una UF para ejecutar las instrucciones
  </ngb-alert>
</p>


<!--DEFINICION DE TABLAS-->
<div class = "container">
    <h4>Simulación</h4> 
    <button *ngIf="executingROB" id="btn-next" type="button" class="btn btn-outline-danger" (click)="nextInstruction()" >Siguiente Intruccion</button>
    <div class = "row">    
      <div class = "col">      
        <table id ="tablacycle" class="table table-bordered" style="width:2.2cm" *ngIf="executingROB">  
          <thead>
            <tr>
              <th scope = "col">Ciclo #</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <div class = "col">
        <table id="tablaDispatch" class="table table-bordered" style="width:1cm" *ngIf="executingROB">  
          <thead>
            <th *ngFor="let header of DHeaders">
              {{header}}
            </th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    
      <div class = "col">
        <table id="tablaER" class="table table-bordered" style="width:1cm" *ngIf="executingROB">  
          <thead>
            <th *ngFor="let header of ERHeaders">
              {{header}}
            </th>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <div class = "col">
        <table id="tablaUF" class="table table-bordered" style="width:1cm" *ngIf="executingROB">  
          <thead>
            <th *ngFor="let header of UFHeaders">
              {{header}}
            </th>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <div class = "col">
        <table id="tablaROB" class="table table-bordered" style="width:4cm" *ngIf="executingROB">  
          <thead>
            <th *ngFor="let header of ROBHeaders">
              {{header}}
            </th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
  </div>
</div>

<p>
  <ngb-alert type="success" [dismissible]="false" *ngIf = "showFinished">
    <strong>Exito!</strong> Las instrucciones fueron ejecutadas con exito
  </ngb-alert>
</p>


<router-outlet></router-outlet>

